<!-- <div id="content-pages" class="content-wrapper p-0" >
    <section>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                <div>
                    <div class="text-center">
                        <a href="https://www.fcopel.org.br/" target="_blank">
                            <img class="img-responsive mb-3" src="./assets/img/gallery/logo.png"
                                alt="Logo Fundação Copel" />
                        </a>
                    </div>
                    <div class="row m-0 mt-10">
                        <div class="col-12 d-flex justify-content-center"> -->
<router-outlet></router-outlet>
<!-- </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->