@media (orientation: landscape) and (min-width: 320) and (max-width: 767) {
  #content {
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* final spec */
    transform: rotate(-90deg);
  }
}

#content-pages {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(241, 238, 237);
}
section {
  @media screen and (max-width: 900px) {
      .container-fluid,
      .col-12,
      .card-body {
          padding: 0;
      }
  }
}
.img-responsive {
  width: 300px;
}