div.col-md-8 > div.content h2 {
    font-size: 3em;
    display: inline-block;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
}
div.col-md-8 > div.content h2[data-scroll="in"] {
    transform: scaleX(1);
    transition-delay: 0.5s;
}

div.col-md-8 > div.content h2[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}
div.col-md-8 > div.content p {
    font-size: 1em;
    display: inline-block;
    transition: 1s;
    transform-origin: left;
    transform: scaleX(0);
}

div.col-md-8 > div.content p[data-scroll="in"] {
    transform: scaleX(1);
    transition-delay: 0.5s;
}

div.col-md-8 > div.content p[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}
